<article>
    <a href="/dashboard"> &larr; Back to dashboard</a>
    <h2 class="catClass fontGeneral backgroundContainer text-center">
        Edit Blog Post
    </h2>

    <div class="postContainer backgroundContainer postStyle">
        <div class="d-flex flex-column justify-content-center">
            <form class="edit-post-form">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon"></i>Title:</span>
                    <input id="post-title" name="post-title" placeholder="Title here..." class="form-control"
                        type="text" value="{{post.title}}">
                </div></br>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon"></i>Time:</span>
                    <input id="post-time" name="post-time" placeholder="Estimated Workout Time here..."
                        class="form-control" type="number" value="{{post.time}}" />
                </div></br>

                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon"></i>Category:</span>
                    <input id="post-category" name="post-category" placeholder="Category here..." class="form-control"
                        type="text" value="{{post.category}}">
                </div></br>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon"></i></span>
                    <textarea id="post-body" class="postArea form-control" rows="10" name="post-body"
                        placeholder="Type your post here..." class="form-control" type="text"
                        value="{{post.content}}"></textarea>
                </div></br>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon"></i>Youtube Link:</span>
                    <input id="post-url" name="post-url" placeholder="Post your video link here..." class="form-control"
                        type="text" value="{{post.url}}">
                </div></br>
                <button type="submit" class="btn btn-lg btn-primary btn-block forgotPass">Save post</button>

            </form>
            {{!-- <form class="comment-form">
                <div>
                    <textarea name="comment-body"></textarea>
                </div>

                <div>
                    <button class="btn btn-lg btn-primary btn-block forgotPass" type="submit">add
                        comment</button>
                </div>
                {{> comments post.comments}}
            </form> --}}
        </div>
    </div>
</article>

{{!-- <form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>
    </div>
</form> --}}



<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>